{% extends 'base2.html' %}

{% block titulo %}
<h2>Taquilla</h2>
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
	    <div class="dashboard-stat blue">
	        <div class="visual">
	            <i class="fa fa-ticket fa-icon-medium"></i>
	        </div>
	        <div class="details">
	            <div class="number"><span data-counter="counterup" data-value="{{tikets_diarios}}"></span> </div>
	            <div class="desc"> Tickets Vendidos </div>
	        </div>
	        <a class="more" href="javascript:;"> Detalles
	            <i class="m-icon-swapright m-icon-white"></i>
	        </a>
	    </div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	    <div class="dashboard-stat green">
	        <div class="visual">
	            <i class="fa fa-dollar"></i>
	        </div>
	        <div class="details">
	            <div class="number"> <span data-counter="counterup" data-value="{{totalTkPremiado}}"></span></div>
	            <div class="desc"> Tickets Premiados </div>
	        </div>
	        <a class="btn more" data-toggle="modal" href="#large" id="tkpremiados"> Detalles
	            <i class="m-icon-swapright m-icon-white"></i>
	        </a>
	    </div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	    <div class="dashboard-stat red">
	        <div class="visual">
	            <i class="fa fa-bank fa-icon-medium"></i>
	        </div>
	        <div class="details">
	            <div class="number">Bs.<span data-counter="counterup" data-value="{{totalventas}}"></span></div>
	            <div class="desc"> Total Ventas </div>
	        </div>
	        <a class="more" href="javascript:;"> Detalles
	            <i class="m-icon-swapright m-icon-white"></i>
	        </a>
	    </div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	    <div class="dashboard-stat dark">
	        <div class="visual">
	            <i class="fa fa-money fa-icon-medium"></i>
	        </div>
	        <div class="details">
	            <div class="number">Bs.<span data-counter="counterup" data-value="{{totalventas}}"></span></div>
	            <div class="desc"> Porcentaje Bank % </div>
	        </div>
	        <a class="more" href="javascript:;"> Detalles
	            <i class="m-icon-swapright m-icon-white"></i>
	        </a>
	    </div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade in" id="large" tabindex="-1" role="dialog" aria-hidden="true"">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-center bold blue">Tickets Premiados</h4>
            </div>
            <div class="modal-body"> 
				<div class="">
					<div class="row">
						<div class='col-md-8'>
							<table id="tablemodal" class="table table-condensed table-hover" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold">Animal</th>
									<th class="bold">Ticket</th>
									<th class="bold">Apuesta</th>
								</tr>
							</thead>
							<tbody id="tablemodalbodypre">
							</tbody>
						</table>
						</div>
					</div>
				</div>
             </div>
            <div class="modal-footer">
                <button type="button" class="btn green btn-outline" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div> 
    <!-- Modal -->
<div id="myModal" class="modal fade in" data-backdrop="static" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header blue">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title bold" id="ticket_modal"></h4>
      </div>
      <div id="caja" class="modal-body">
      	<div class="row" >
      		<div class="col-sm-3" >
      			<h5 class="bold text-left">Agencia:</h5>	
      		</div>
      		<div class="col-sm-9" >
      			<h5 id="tkAgencia" class="text-left"></h5>
      		</div>
      	</div>
      	<div class="row" >
      		<div class="col-sm-3" >
      			<h5 class="bold text-left">Loteria:</h5>	
      		</div>
      		<div class="col-sm-9" >
      			<h5 id="tkLoteria"></h5>
      		</div>
      	</div>
		<div class="row" >
      		<div class="col-sm-3" >
      			<h5 class="bold text-left">Sorteos:</h5>	
      		</div>
      		<div class="row">
      			<div class="col-sm-12" >
      				<h5 class="text-center" id="tkSor"></h5>
      			</div>
      		</div>
      		
      	</div>
      	<table id="tablemodal" class="table table-condensed table-hover" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="bold">Animal</th>
					<th class="bold">Apuesta</th>
				</tr>
			</thead>
			<tbody id="tablemodalbody">
			</tbody>
		</table>
		<div class="row" >
      		<div class="col-sm-3" >
      			<h4 class="bold text-left">Total:</h4>	
      		</div>
      		<div class="col-sm-9" >
      			<h4 id="tkTotal" class="red"></h4>
      		</div>
      	</div>
      	<div class="row" >
      		<div class="col-sm-12" >
      			<h5 class="bold text-left">Cod.Seguridad:</h5><h5 id="tkToken"></h5>
      		</div>	
      	</div>
      </div>	
	       <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
	      </div>
    </div>
      
    </div>

  </div>

<script type="text/javascript">
	var csrftoken = getCookie("csrftoken");
		$(document).ready(function() {

			$('.counter').counterUp();
			$('#tkpremiados').click(function(tk){
				tk.preventDefault();
				$.ajax({
					url: '/ticketpre/',
					type: 'POST',
					data: {csrfmiddlewaretoken : csrftoken,},
				})
				.done(function(datap) {

					console.log(datap.content.items)

					$.each(datap.content.items, function(index, value) {
						$("#tablemodalbodypre").append("<tr>" + "<td>" + value.animalid + "</td>" + "<td>" + value.idTicket + "</td>" + "<td>" + value.valor + "</td>" +"</tr>");
						});
					$("#large").on("hidden.bs.modal", function() {
			    		$("#tablemodalbodypre").empty();
			  	})	
				})
			})	
	});

			$("#busqueda").click(function(b) {
			b.preventDefault();
			var loterianame = "4"
				
			$.ajax({
				url: '/search/',
				type: 'POST',
				data: {csrfmiddlewaretoken : csrftoken, 
					busquedatk: $("#inputbus").val(),
					idloteria: loterianame, 
					}
			})
			.done(function(datab) {
				
				$("#ticket_modal").text("TICKET BUSCADO: " + datab.content.tkbuscado + " FECHA: "+ datab.content.fecha);
				$("#tkToken").text(datab.content.ticketb[0]["token"]);
				$("#tkTotal").text(datab.content.ticketb[0]["total"]);
				$("#tkAgencia").text(datab.content.agencia);
				$("#tkLoteria").text(datab.content.loteria);

				console.log(datab.content.sorteos)
				$.each(datab.content.sorteos, function(index, val) {
			    	$("#tkSor").append(moment(val,["HH:mm:ss"]).format("h:mm.A, "));
			  	});
				var obj= datab.content.ticketitem
			  	$.each(datab.content.ticketitem, function(index, value) {
			  		
			  		$("#tablemodalbody").append("<tr>" + "<td>" + value.id_animal__nombre + "</td>" + "<td>" + value.monto_apu + "</td>" + "<tr/>");		
			  	});

			  	$("#myModal").modal();
			  
			  	$("#myModal").on("hidden.bs.modal", function() {
			    	$("#tkSor").empty();
			    	$("#tablemodalbody").empty();
			  	});
			})
		});

</script> 
{% endblock %}
