{% extends 'base2.html' %}

{% block titulo %}
<h2>Taquilla</h2>
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-bottom-10">
	    <div class="dashboard-stat blue">
	        <div class="visual">
	            <i class="fa fa-ticket fa-icon-medium"></i>
	        </div>
	        <div class="details">
	            <div class="number"> {{tikets_diarios}} </div>
	            <div class="desc"> Tickets Vendidos </div>
	        </div>
	        <a class="more" href="javascript:;"> Detalles
	            <i class="m-icon-swapright m-icon-white"></i>
	        </a>
	    </div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	    <div class="dashboard-stat green">
	        <div class="visual">
	            <i class="fa fa-dollar"></i>
	        </div>
	        <div class="details">
	            <div class="number"> {{totalTkPremiado}} </div>
	            <div class="desc"> Tickets Premiados </div>
	        </div>
	        <a class="btn more" data-toggle="modal" href="#large" id="tkpremiados"> Detalles
	            <i class="m-icon-swapright m-icon-white"></i>
	        </a>
	    </div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	    <div class="dashboard-stat yellow-lemon">
	        <div class="visual">
	            <i class="fa fa-bank fa-icon-medium"></i>
	        </div>
	        <div class="details">
	            <div class="number"> Bs. {{totalventas}} </div>
	            <div class="desc"> Total Ventas </div>
	        </div>
	        <a class="more" href="javascript:;"> Detalles
	            <i class="m-icon-swapright m-icon-white"></i>
	        </a>
	    </div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade in" id="large" tabindex="-1" role="dialog" aria-hidden="true"">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Titulo</h4>
            </div>
            <div class="modal-body"> Modal cuerpo </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn green">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>  
<script type="text/javascript">
		$(document).ready(function() {
			var csrftoken = getCookie("csrftoken");

			$('#tkpremiados').click(function(tk){
				tk.preventDefault();
				$.ajax({
					url: '/ticketpre/',
					type: 'POST',
					data: {csrfmiddlewaretoken : csrftoken,},
				})
				.done(function(data) {
					console.log("success");
				})
			})
		
	});
</script> 
{% endblock %}
